html, body {
    background: #fff;
    font-size: 16px;
    font-family: 'Roboto', Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, figure, ul, button {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}